[Desktop Entry]
Name=Getting Started
Comment=Archcraft OS Helper
Exec=/usr/bin/get_started.sh
Icon=distributor-logo-archcraft
Type=Application
Categories=GTK;System;Settings;
